<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Express_Fuel_Distributors.My.MySettings.express_fuelConnectionString"
            connectionString="server=localhost;user id=cancique;password=Cae12sar#$;persistsecurityinfo=True;database=express_fuel"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>